body {
    background-image: url("../data/backgroundWave.png");
    background-size: 800px;
    color: #fefefa;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    line-height: 150%;
    font-size: 13pt;
    min-width: 1000px;
    background-color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#mainContent {
    margin-top: 450px;
    min-width: 80%;
    display: flex;
    flex-direction: row;
}

.contentSection {
    display: flex;
    flex-direction: column;
    margin: 35px;
}

#mainContent-1 {
    flex: 1;
}

#mainContent-2 {
    flex: 3;
}

#mainContent-3 {
    flex: 1;
}

h3 {
    color: #9370db;
}

.banner {
    margin-bottom: 6em;
}

#bannerLeft {
    float: left;
    margin-left: 1em;
    margin-top: 1em;
}

#bannerRight {
    float: right;
    margin-right: 2em;
}

#bannerRight p {
    color: #D04471;
}

#explore a {
    font-size: 30pt;
    color: linear-gradient(#fe4164, #8b008b, #8806ce);
    font-weight: bold;
}

#explore a:hover {
    color: #ffa700;
    opacity: 1;
}

header {
    margin: .75em;
    border: 3px #fefefa;
    padding: 1em;
}

.contentContainerWrap {
    /*max-width: 600px;*/
    background: linear-gradient(to bottom right, purple, #5946b2, #FF00D9, #fb4d46, purple);
    padding: 3px;
    margin-top: 2em;
    display: flex;
}

.userContainer {
    color: #D04471;
    padding-left: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.contentContainer {
    background: black;
    color: white;
    padding: 1em 2em 1em 2em;
    flex: 6;
}


.widget_wrap{
    min-width: 200px;
    max-width: 300px;
    margin: 2em 0 2em 0;
    padding: 3px;
    
    position: relative;
    background: linear-gradient(to bottom right, purple, #5946b2, #FF00D9,#fb4d46, purple);
}
  
.widget_container h3 {
    margin: 0;
    padding: 0;
}

.widget_container{
    min-width: fit-content;
    min-height: fit-content;
    padding: 1em;

    background: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  
.settings_list {
    margin-right: 1em;

    /* border: 1px solid red; */
}

#temp_calendar {
    margin: 1em;
    max-width: 150px;
    max-height: 150px;
}

.profile-pic {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}


#feature0 {
    margin: 2em 30% 3em 0;
}

#feature1 {
    margin: 3em auto 3em 30%;
}

#feature2 {
    margin: 3em 30% 3em 0;
}

#feature3 {
    margin: 3em auto 3em 30%;
}

#feature4 {
    margin: 3em 30% 3em 0;
}

footer {
    margin-top: 3em;
    font-size: 10pt;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-bottom: 2em;
    border-top: #fefefa;
}

a {
    color: #fefefa;
    text-decoration: none;
}

a:hover {
    opacity: .5;
}

a:visited {
    color: #fefefa;
}