/* General settings - Config
------------------------------------------------------------------------------- */

/* global variables */
:root {
    --white: #fff;
    --black: #000;
    --red: #ff0000;
    --light-grey: #eae7e6;
    --dark-grey: #57605f;
    --orange: #bf5700;
    --light-orange: #f5b042;
    --shadow-color: #000000aa;
}

/* presets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}


/* Header 
------------------------------------------------------------------------------- */
header {
    border-bottom: 1px solid #000;
}

.banner {
    background-color: var(--white);
    margin: 1px;
    padding: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner div {
    display: inline-flex;
    align-items: center;
}

.banner span {
    margin: 1em;
    font-size: 25px;
}

/* FIXME: left */
#leftBanner {
    border: 2px solid var(--red);
}

#logo {
    max-width: 200px;
    max-height: 100px;
    border: 2px solid var(--red);
}

#name {
    border: 2px solid var(--red);
}


/* FIXME: middle */
#middleBanner {
    border: 2px solid var(--red);
}


/* FIXME: right */
#rightBanner {
    border: 2px solid var(--red);
}

/* Main Content
------------------------------------------------------------------------------- */
#mainContent {
    display: flex;
    align-items: center;

    margin: 1px;
    padding: 1px;
}

#mainContent p {
    margin: 1px;
    padding: 1em;
}


/* Footer
------------------------------------------------------------------------------- */
footer {
    margin: 1px;
    padding: 1em;
    border-top: 2px solid var(--black);
    text-align: center;
}