body{
  background-color:black;
  color:#fefefa;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  line-height:150%;
  font-size:13pt;
  min-width:1000px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#formContainer{
        position: absolute;
        top:50px;
        left:230px;
        line-height:1.5;
}
h2{
        color: #ff5800;
}
#biggerLogoWrapper{
 width: 400px;
 margin:0;
 position:absolute;
 left:310px;
 top:3.3em;
}
#logo{
  position:fixed;
}
#profileContainer{
  background-color:#1f262a;
  padding:1em ;
  position:absolute;
  right:4em;
  top:2em;
  width:42%;
  min-width:400px;
  text-align:center;
   background-image: url("../data/profile_background.jpg");
  background-size: 100% 100%;
   border-collapse:separate;
    border:solid black 1px;
    border-radius:60px;
    -moz-border-radius:60px;
}
.roundedEdges, textarea, input{
  border-collapse:separate;
    border:solid black 1px;
    border-radius:20px;
    -moz-border-radius:20px;
}

#profilePic{
  margin:.9em;
}
#username{
  color:#ff8c00;
  font-size:20pt;
  font-weight:bold;
  text-shadow: 3px 3px #663399;
}
#isListening, #isListening a{
  color:#1DB954;
  font-size:14pt;
}
#interactMenu{
  margin-top:1em;
  margin-bottom:1em;
  padding-top:-2em;
  position: absolute;
  bottom: 0;
}
#interactMenu td{
  padding:0;
  margin:0;
  width:140px;
  font-size:30pt;
  color:#fd5800;
  font-weight:bold;
  vertical-align: middle;
}
#interactMenu tr{
  padding:0;
  margin:0;
  height:2px;
}
td img{
  position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

#mainContent{
  margin-top:200px;
  min-width:80%;
}
h3{
  color:#9370db;
}
.banner{
  margin-bottom:6em;
}
#bannerLeft{
  float: left;
  margin-left:1em;
  margin-top:1em;
}
#post{
  float:left;
  margin-left:5em;
  margin-top:.5em;
}
#bannerRight{
  float: right;
  margin-right:2em;
}
#bannerRight p{
  color:#D04471;
  
}
#explore a{
  font-size:30pt;
  color:linear-gradient(#fe4164,#8b008b, #8806ce);
  font-weight:bold;
}
#explore a:hover{
  color: #ffa700;
  opacity:1;
}

header{
  margin:.75em;
  border:3px #fefefa;
  padding:1em;
}
.contentContainerWrap{
  max-width: 600px;
  position: relative;
  background: linear-gradient(to bottom right, purple, #5946b2, #FF00D9,#fb4d46, purple);
  padding: 3px;
  margin-top:2em;
}
.contentContainer{
  background: black;
  color: white;
  padding: 1em 2em 1em 2em
}
.reviewContainer{
  margin: 4em;
  padding:2em;
  width: 550px;
  height:580px;
  display: block;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../data/review_background.jpg");
  background-size: 100% 100%;
   border-collapse:separate;
    border:solid black 1px;
    border-radius:60px;
    -moz-border-radius:60px;
}
.reviewContainer img{
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:2em;
}

.user{
 color:#ff8c00;
 font-weight:bold;
 padding:15px
}
 #submit{
        padding:5px;
        background-color: #de6fa1;
        border:3px solid #D76FDE;
        color:#512888;
        margin-left:auto;
        margin-right:auto;
        font-weight:bold;
        font-size:18pt;
}
#commentary{
 margin:1em;
}
#commentary span{
 padding:10px;
border-collapse:separate;
    border:solid black 1px;
    border-radius:20px;
    -moz-border-radius:20px;
}
#commentary tr{
        height:50px;
}
#commentary td, #commentary tr,#commentary span{
        vertical-align: middle;
}
.comment{
 background-color:#b19cd9;
        color:black;
 padding:2px;
 margin:6px;
}

footer{
  margin-top:3em;
  font-size:10pt;
  font-family:Arial, sans-serif;
  text-align:center;
  padding-bottom:2em;
  border-top:#fefefa;
  position:absolute;
  bottom:0;
  margin-left:auto;
  margin-right:auto;
}
a{
  color:#fefefa;
  text-decoration:none;
}
a:hover{
  opacity:.5;
}
a:visited{
  color:#fefefa;
}
.hidden{
  display:none;
  font-size:14pt;
  line-height:1.5S;
  color:white;
  padding:3em 3em 3em 3em;
  height:270px;
  width:270px;
  background-color:rgba(0,0,0,.4);
  margin-left: auto;
  margin-right: auto;
  vertical-align:middle;
   border-collapse:separate;
    border:solid rgba(0,0,0,.1) 6px;
    border-radius:20px;
    -moz-border-radius:20px;
}

.display{
  diplay:hidden;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color: black;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:10em;
  z-index: 100;
}
