body{
  background-color:black;
  color:#fefefa;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  line-height:150%;
  font-size:13pt;
  min-width:1000px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#splash{
  position: absolute;
  top:0;
  width:900px;
  height:500px;
  
  right:0;
}
#biggerLogoWrapper{
 width: 400px;
 margin:0;
 position:absolute;
 left:310px;
 top:3.3em;
}
#logo{
  position:fixed;
}
#profileContainer{
  background-color:#1f262a;
  padding:1em ;
  position:absolute;
  right:4em;
  top:2em;
  width:42%;
  min-width:400px;
  text-align:center;
}
.roundedEdges, .reviewContainer{
  border-collapse:separate;
    border:solid black 1px;
    border-radius:20px;
    -moz-border-radius:20px;
}
.reviewContainer span{
  margin-bottom:4em;
}
#profilePic{
  margin:.9em;
}
#username{
  color:#ff8c00;
  font-size:20pt;
  font-weight:bold;
  text-shadow: 3px 3px #663399;
}
#isListening, #isListening a{
  color:#1DB954;
  font-size:12pt;
}
#interactMenu{
  width:100%;
}
#interactMenu td{
  width:30%;
}

#mainContent{
  margin-top:450px;
  min-width:80%;
}
h3{
  color:#9370db;
}
.banner{
  margin-bottom:6em;
}
#bannerLeft{
  float: left;
  margin-left:1em;
  margin-top:1em;
}
#bannerRight{
  float: right;
  margin-right:2em;
}
#bannerRight p{
  color:#D04471;
  
}
#explore a{
  font-size:30pt;
  color:linear-gradient(#fe4164,#8b008b, #8806ce);
  font-weight:bold;
}
#explore a:hover{
  color: #ffa700;
  opacity:1;
}

header{
  margin:.75em;
  border:3px #fefefa;
  padding:1em;
}
.contentContainerWrap{
  max-width: 600px;
  position: relative;
  background: linear-gradient(to bottom right, purple, #5946b2, #FF00D9,#fb4d46, purple);
  padding: 3px;
  margin-top:2em;
}
.contentContainer{
  background: black;
  color: white;
  padding: 1em 2em 1em 2em
}
.reviewContainer{
  margin: 2em;
  padding:2em;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color:#3b013d;
}
.reviewContainer img{
  margin:2em;
}
.reviewContainer:hover{
  opacity:.5;
}
.user{
 color:#ff8c00;
 font-weight:bold;
 padding:15px
}
#commentary #submit{
 	padding:5px;
	background-color: #de6fa1;
	border:3px solid #D76FDE;
	color:#512888;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
	font-size:18pt;
}
#commentary{
 margin:1em;
}
#commentary span{
 padding:10px;
border-collapse:separate;
    border:solid black 1px;
    border-radius:20px;
    -moz-border-radius:20px;
}
#commentary tr{
	height:50px;
}
#commentary td, #commentary tr,#commentary span{
	vertical-align: middle;
}
.comment{
 background-color:#b19cd9;
	color:black;
 padding:2px;
 margin:6px;
}

footer{
  margin-top:3em;
  font-size:10pt;
  font-family:Arial, sans-serif;
  text-align:center;
  padding-bottom:2em;
  border-top:#fefefa;
}
a{
  color:#fefefa;
  text-decoration:none;
}
a:hover{
  opacity:.5;
}
a:visited{
  color:#fefefa;
}


